/* Body Styling */
:root {
    --background: #f9f9f9;
    --primaryText: #180126;
    --secondaryText: #7e7a8f;
    --tertiaryText: #c3c7d2;
    --primaryColor: #3a5df8;
    --secondaryColor: #f3ea12;
  }
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body {
      margin: 0;
      padding:0;
      color: var(--primaryText);
      font-family: "Open Sans", sans-serif;
  }
  
  .download-btn,
  .schedule-btn {
      background: var(--secondaryColor);
      color: var(--primaryText);
      font-size: 13px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      padding: 10px 50px;
      width: 243px;
  }
  
  .download-btn:hover,
  .schedule-btn:hover {
      background-color: var(--background);
      border: 1px solid var(--primaryColor);
      color: var(--primaryColor);
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  /* ˅ This is so all the content sections have the same border, color and are vertically centered */
  .bubble-style{
    border-radius: 20px;
      background-color: var(--background);
      border: 1px solid var(--tertiaryText);
      align-items: center;
  }
  /* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
  .wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "sidebar"
        "title"
        "content";
  }

  /************************************ Section Styling ************************************/
  
  /********** Nav Mobile View**********/
  header {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }
  nav {
    grid-area: sidebar;
  }
  .logo {
    width: 60%;
    margin: 0;
  }
  .hamburger {
    display: block;
    float: right;
  }
  button.hamburger {
   padding: 0;
   margin: 0;
   background-color: transparent;
   border: none;
  }
  
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70vh;
    background-color: var(--primaryColor);
    justify-content: center;
    z-index: 10;
  } 
  .nav-ul a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
  }
  .nav-ul li {
    padding: 20px;
    list-style-type: none;
  }
  .nav-ul img {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-ul.show {
     display: flex;
  }
  .active-link {
      color: var(--secondaryColor) !important;
  }
  /***** Title of Page and Back Button *****/
  .page-title {
    grid-area: title;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .page-title h1 {
    text-align: center;
  }
  .page-title a, .appointments a {
    color: var(--primaryColor);
    text-decoration: none;
  }
  .page-title a:hover, .appointments a:hover{
    color: var(--secondaryColor);
  }
  .page-title img {
    vertical-align: middle;
  }
  
  /* Styling for Headings */
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
  }
  .heading h2 {
    width: 60%;
  }
  .content {
      grid-area: content;
      margin: 1rem;
      text-align: center;
  }
  .content img {
      max-width: 100%;
      height: auto;
      padding: 0;
  }
  /************************Styling for Laptops and Small Screens 769px and up*****************************/
  @media only screen and (min-width: 769px) {
   
    /* This creates a two column view and makes the sidebar navigation visible  */
    .wrapper {
      grid-template-columns: 275px  1fr;
      grid-template-areas: 
          "header  header"
          "sidebar title"
          "sidebar content";
      margin-right: 2rem;
    }
  
    /***** Need this to make nav visible *****/
    /***** Nav *****/
    .logo {
      width: 250px;
    }
   .nav-ul {
     display: flex;
     background-color: var(--primaryColor);
     border-radius: 0 20px 0 0;
     color: var(--background);
     height: 100vh;
     padding-top: 0;
     position: sticky;
     top: 0px;
   }
   
    nav a:hover,
    .activeLink {
      color: var(--secondaryColor);
    }
  
    .nav-ul li {
      line-height: 50px;
    }
    .nav-ul img {
      vertical-align: middle;
      padding-right: 5px;
    }
    
    /* hides hamburger button */
    .hamburger {
      display: none;
    }
    /***** styling for content headings *****/
    h2 {
      font-size: 22px;
    }
      .med-info-detail{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
    
 
  }

  
  /************************Styling for Desktops and Large Screens 1200px Up*****************************/
  @media (min-width: 1200px) {
    /* This creates a 3 column view  */
      .wrapper {
          grid-template-columns: 275px 1fr 1fr;
          grid-template-areas: 
              "header  header header"
              "sidebar title title"
              "sidebar content content";
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
          padding-bottom: 20px;
      }
      .heading h2 {
        width: auto;
      }
   
  }