/* Body Styling */
:root {
    --background: #f9f9f9;
    --primaryText: #180126;
    --secondaryText: #7e7a8f;
    --tertiaryText: #c3c7d2;
    --primaryColor: #3a5df8;
    --secondaryColor: #f3ea12;
  }
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body {
      margin: 0;
      padding:0;
      color: var(--primaryText);
      font-family: "Open Sans", sans-serif;
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  /* Ë… This is so all the content sections have the same border, color and are vertically centered */
  .bubble-style{
    border-radius: 20px;
      background-color: var(--background);
      border: 1px solid var(--tertiaryText);
      align-items: center;
      margin: 1rem 0;
  }
  /* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
  .wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "sidebar"
        "profile"
        "buttons"
        "contact"
        "econtact"
        "recent"
        "medical";
  }
  
  /************************************ Section Styling ************************************/
  
  /********** Nav Mobile View**********/
  header {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }
  nav {
    grid-area: sidebar;
  }
  .logo {
    width: 60%;
    margin: 0;
  }
  .hamburger {
    display: block;
    float: right;
  }
  button.hamburger {
   padding: 0;
   margin: 0;
   background-color: transparent;
   border: none;
  }
  
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70vh;
    background-color: var(--primaryColor);
    justify-content: center;
    z-index: 10;
  } 
  .nav-ul a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
  }
  .nav-ul li {
    padding: 20px;
    list-style-type: none;
  }
  .nav-ul img {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-ul.show {
     display: flex;
  }

  /* Styling */

  .profile {
      text-align: center;
      margin: 30px;
      grid-area: profile;
  }

  .request-buttons {
      text-align: center;
      margin: 30px;
      grid-area: buttons;
  }

  .contact {
    text-align: center;
    margin: 30px;
    grid-area: contact;
  }

  .e-contact {
    text-align: center;
    margin: 30px;
    grid-area: econtact;
  }

  .visits {
    text-align: center;
    margin: 30px;
    grid-area: recent;
  }

  .bubble-heading {
      display: none;
  }

  .records {
    text-align: center;
    margin: 30px;
    grid-area: medical;
  }

  .results {
    background: var(--secondaryColor);
    color: var(--primaryText);
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding:10px;
    /* width: 243px; */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .review {
    border: none;
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .accept {
  border: none;
  background-color: greenyellow;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  }

  /************************Styling for Laptops and Small Screens 769px and up*****************************/
@media only screen and (min-width: 769px) {
 
    /* This creates a two column view and makes the sidebar navigation visible  */
    .wrapper {
      grid-template-columns: 275px  1fr;
      grid-template-areas: 
      "header  header"
      "sidebar profile"
      "sidebar buttons"
      "sidebar contact"
      "sidebar econtact"
      "sidebar recent"
      "sidebar medical";
      margin-right: 2rem;
    }
  
    /***** Need this to make nav visible *****/
    /***** Nav *****/
    .logo {
      width: 250px;
    }
   .nav-ul {
     display: flex;
     background-color: var(--primaryColor);
     border-radius: 0 20px 0 0;
     color: var(--background);
     height: 100vh;
     padding-top: 0;
     position: sticky;
     top: 0px;
   }
   
    nav a:hover,
    .activeLink {
      color: var(--secondaryColor);
    }
  
    .nav-ul li {
      line-height: 50px;
    }
    .nav-ul img {
      vertical-align: middle;
      padding-right: 5px;
    }
    
    /* hides hamburger button */
    .hamburger {
      display: none;
    }
    /***** styling for content headings *****/
    h2 {
        font-size: 22px;
      }
    }
  
  
  /************************Styling for Desktops and Large Screens 1200px Up*****************************/
  @media (min-width: 1400px) {
  
      .wrapper {
          grid-template-columns: 275px 1fr;
          grid-template-areas:
          "header  header header"
          "sidebar profile buttons"
          "sidebar contact econtact"
          "sidebar recent medical";
      }
      h1 {
        font-size: 37px;
      }
      h2 {
        font-size: 28px;
      }
      .birth {
          grid-area: birth;
      }

      .marital {
        grid-area: marital;
     }

      .ethnicity {
        grid-area: ethnicity;
     }

      .gender {
        grid-area: gender;
     }

      .smoker {
        grid-area: smoker;
     }
     
     .age {
        grid-area: age;
     } 

     
       
      .profile {
        display: grid;
        grid-template-areas:
        "pic user user user"
        "pic birth marital ethnicity"
        "pic gender gender smoker"
        "pic age age age";
        text-align: left;
        padding: .25rem 1rem;
        justify-content: center;
        width: 1500px; 
        
      }

 
      .profile h1 {
        padding: 0;
        margin: 0;
      }
      .userPic {
        grid-area: pic;
      }

      .current-user {
          grid-area: user;
      }



      

  
  
  
  
  }







 





