/* Body Styling */
:root {
  --background: #f9f9f9;
  --primaryText: #180126;
  --secondaryText: #7e7a8f;
  --tertiaryText: #c3c7d2;
  --primaryColor: #3a5df8;
  --secondaryColor: #f3ea12;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding:0;
    color: var(--primaryText);
    font-family: "Open Sans", sans-serif;
}
main {
  grid-area: main;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 26px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}
/* ˅ This is so all the content sections have the same border, color and are vertically centered */
.bubble-style{
  border-radius: 20px;
    background-color: var(--background);
    border: 1px solid var(--tertiaryText);
    align-items: center;
    margin: 1rem 0;
}
/* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
.wrapper {
  display: grid;
  grid-template-areas: 
      "header"
      "sidebar"
      "main";
}

/************************************ Section Styling ************************************/

/********** Nav Mobile View**********/
header {
  grid-area: header;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
nav {
  grid-area: sidebar;
}
.logo {
  width: 60%;
  margin: 0;
}
.hamburger {
  display: block;
  float: right;
}
button.hamburger {
 padding: 0;
 margin: 0;
 background-color: transparent;
 border: none;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70vh;
  background-color: var(--primaryColor);
  justify-content: center;
  z-index: 10;
} 
.nav-ul a {
  color: white;
  text-decoration: none;
  line-height: 1.5;
}
.nav-ul li {
  padding: 20px;
  list-style-type: none;
}
.nav-ul img {
  vertical-align: middle;
  margin-right: 5px;
}
.nav-ul.show {
   display: flex;
}

/* Dr. Profile */

main header{
  font-size: 30px;  
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
}

.location {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 3rem 1rem;
}

.location-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.rating-review-info {
  text-align: center;
}

.info-detail {
  margin-bottom: 30px;
}

.rating {
  font-size: 60px;
  margin: 0;
}

.location-address {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}



.update {
background: var(--secondaryColor);
color: var(--primaryText);
font-size: 13px;
font-weight: 700;
border: none;
border-radius: 5px;
/* padding:10px; */
width: 10rem;
height: 2rem;
text-align: center;
margin: 0 auto;
}

.update:hover {
background-color: var(--background);
border: 1px solid var(--primaryColor);
color: var(--primaryColor);
}

button {
cursor: pointer;
}

label {
  font-size: 13px;
  font-weight: 700;
}

input {
  outline: none;
  border: 1px solid var(--tertiaryText);
  border-radius: 5px;
  margin-bottom: 1.5em;
}

/* input:focus,
select:focus,
input:hover,
select:hover {
    border: 1px solid var(--secondaryColor) !important;
    box-shadow: 0 0 5px var(--secondaryColor);
    outline-offset: 0;
    outline: none;
}

.info-input input, .info-input select {
    padding: 10px;
    width: 350px;
    background-color: #fff;
    border: 1px solid var(--tertiaryText);
    border-radius: 4px;
    margin: 0 20px 20px 0;
} */ */

#name, #gender, #age, #location,
#address1, #address2, #phone,
#specialty, #languages {
 width: 90%;
 padding: .8em 1em;
 margin-bottom: 1em;
}

.container1, .container2 {
 margin-right: 1em;
}

.insurance, .insurance1, .insurance2 {
  margin-bottom: 1em;
}





@media (max-width:900px) {
  .info h1 {
      font-size: 30px;
  }
  .info-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info-group {
      line-height: .25rem;
      margin: 0;

  }
  .info-title {
      margin: 0;
  }
}
@media (min-width:901px) {
  .info-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
  }

  .info-group {
      line-height: .25rem;
      margin-right: 30px ;
  }
}

@media (max-width: 1399px){
  .location img {
      width:100%;
      max-width:590px;
      align-self: center;
  }
}

/************************Styling for Laptops and Small Screens 769px and up*****************************/
@media only screen and (min-width: 769px) {

/* This creates a two column view and makes the sidebar navigation visible  */
.wrapper {
  grid-template-columns: 275px  1fr;
  grid-template-areas: 
      "header  header"
      "sidebar main";
  margin-right: 2rem;
}

/***** Need this to make nav visible *****/
/***** Nav *****/
.logo {
  width: 250px;
}
.nav-ul {
 display: flex;
 background-color: var(--primaryColor);
 border-radius: 0 20px 0 0;
 color: var(--background);
 height: 100vh;
 padding-top: 0;
 position: sticky;
 top: 0px;
}

nav a:hover,
.activeLink {
  color: var(--secondaryColor);
}

.nav-ul li {
  line-height: 50px;
}
.nav-ul img {
  vertical-align: middle;
  padding-right: 5px;
}

/* hides hamburger button */
.hamburger {
  display: none;
}
/***** styling for content headings *****/


}



/************************Styling for Desktops and Large Screens 1200px Up*****************************/
@media (min-width: 1200px) {

  .wrapper {
      grid-template-columns: 275px 1fr;
      grid-template-areas:
          "header  header header"
          "sidebar main main";
  }
  h1 {
    font-size: 37px;
  }
  h2 {
    font-size: 28px;
  }

  .profile {
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 30px;
  }
  .info-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .info-group,
  .info h1{
      margin-left: 30px;
  }
  .info h1 {
      margin-bottom: 10px;
  }
  .location {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

  }
  .location-address {
      display: flex;
      flex-direction: column;
      padding: 0 13rem 0 1rem;
  }
  .address p{
      margin-bottom: 10px;
  }

  .all{
    display: flex;
    justify-content: space-between;
  }

  main header{
    margin-left: 400px; 
  }

  form {
    flex-basis: 50%;
  }

 .days, .days1, .days2, .location-name, 
 .address1, .address2, .phone {
    display: none;
  }


 



  

  





}