/* Body Styling */
:root {
    --background: #f9f9f9;
    --primaryText: #180126;
    --secondaryText: #7e7a8f;
    --tertiaryText: #c3c7d2;
    --primaryColor: #3a5df8;
    --secondaryColor: #f3ea12;
  }
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body {
      margin: 0;
      padding:0;
      color: var(--primaryText);
      font-family: "Open Sans", sans-serif;
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  /* ˅ This is so all the content sections have the same border, color and are vertically centered */
  .bubble-style{
    border-radius: 20px;
      background-color: var(--background);
      border: 1px solid var(--tertiaryText);
      align-items: center;
      padding: 1rem;
      margin: 1rem;
  }
  /* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
  .wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "sidebar"
        "content";
}
.content-wrapper {
    grid-area: content;
}
  
  /************************************ Section Styling ************************************/
  
  /********** Nav Mobile View**********/
  header {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }
  nav {
    grid-area: sidebar;
  }
  .logo {
    width: 60%;
    margin: 0;
  }
  .hamburger {
    display: block;
    float: right;
  }
  button.hamburger {
   padding: 0;
   margin: 0;
   background-color: transparent;
   border: none;
  }
  
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70vh;
    background-color: var(--primaryColor);
    justify-content: center;
    z-index: 10;
  } 
  .nav-ul a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
  }
  .nav-ul li {
    padding: 20px;
    list-style-type: none;
  }
  .nav-ul img {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-ul.show {
     display: flex;
  }

  /* Patient Stats */
  .info {
    display: grid;
    text-align: left;
  }
/***** Title of Page and Back Button *****/
.page-title {
  margin-left: 1rem;
  margin-bottom: 0;
}
.page-title h1 {
  text-align: center;
}
.page-title a, .appointments a {
  color: var(--primaryColor);
  text-decoration: none;
}
.page-title a:hover, .appointments a:hover{
  color: var(--secondaryColor);
}
.page-title img {
  vertical-align: middle;
}
/* Styling for Headings */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
  margin-left: 1rem;
  margin-top: 20px;
}
.heading h2 {
  width: 60%;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}
/* Button Colors */
button.decline, button.accept {
  border: none;
  border-radius: 4px;
  color: var(--primaryText);
  height: 38px;
  width: 70px;
  font-size: 13px;
  margin-right: 5px;
  text-transform: uppercase;
}
.decline {
  background-color: #fec9de;
  font-weight: 700;
}
.decline:hover {
  background-color: white;
  border: 2px solid #fec9de;
}
.accept {
  background-color: #aceb98;
  font-weight: 700;
}
.accept:hover {
  background-color: white;
  border: 2px solid #aceb98;
}
.results {
  background: var(--secondaryColor);
  color: var(--primaryText);
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  text-align: center;
}
.results:hover {
  background-color: #EAEAEA;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}
/**** Patient Basic Info ****/
.profile-wrapper {
  text-align: center;
}

.col2, .col3 {
  display: none;
}
/* Profile Pic */
.profile-pic img {
  width: 20%;
}
/* Recent Visits */
.recent-row {
  display: none;
}
.records {
  display: flex;
  justify-content: space-between;
}
  /************************Styling for Laptops and Small Screens 769px and up*****************************/
@media only screen and (min-width: 769px) {
 
    /* This creates a two column view and makes the sidebar navigation visible  */
    .wrapper {
      grid-template-columns: 275px  1fr;
      grid-template-areas: 
          "header  header"
          "sidebar content";
      margin-right: 2rem;
    }
  
    /***** Need this to make nav visible *****/
    /***** Nav *****/
    .logo {
      width: 250px;
    }
   .nav-ul {
     display: flex;
     background-color: var(--primaryColor);
     border-radius: 0 20px 0 0;
     color: var(--background);
     height: 100vh;
     padding-top: 0;
     position: sticky;
     top: 0px;
   }
   
    nav a:hover,
    a.activeLink {
      color: var(--secondaryColor);
    }
  
    .nav-ul li {
      line-height: 50px;
    }
    .nav-ul img {
      vertical-align: middle;
      padding-right: 5px;
    }
    
    /* hides hamburger button */
    .hamburger {
      display: none;
    }
    /***** styling for content headings *****/
    h2 {
        font-size: 22px;
      }
      /* Patient Block */
      .profile-pic img {
        width: 80%;
      }
      .profile-box {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-gap: 2rem;
      }
      .info-box {
        text-align: left;
      }
      .patient-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
      }
      .col2, .col3 {
        display: grid;
      }
      
      /* Emergency Contact */
      .emergency-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
      }

      /* Recent Visits */
      .recent-row {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        margin-top: 2rem;
        font-weight: 700;
        padding: 0 1rem;
      }
      .recent-col1 {
        margin-left: 1rem;
      }

      .recent-info {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
      }
    }
  
  
  /************************Styling for Desktops and Large Screens 1200px Up*****************************/
  @media (min-width: 1400px) {
     /* This creates a 3 column view  */
    .wrapper {
      grid-template-columns: 275px 1.5fr 1fr;
      grid-template-areas: 
          "header  header header"
          "sidebar content content";
  }
      h1 {
        font-size: 37px;
      }
      h2 {
        font-size: 28px;
      }
      /* profile box */
      .profile-wrapper {
        display: grid;
        grid-template-columns: 2fr .5fr;
      }
      .action-box {
        display: grid;
        justify-content: center;
        align-items: center;
      }
      button.accept, button.decline {
        width: 150px;
        height: 70px;
      }
      .patient-name {
        font-size: 20px;
      }
      /* row 2 */
      .row2 {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
      }
      /* row 3 */
      .recent-visits {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }
      .records {
        padding: 5px 1rem;
      }
      .recent-row {
        margin-bottom: -10px;
      }
      .recent-info {
        padding: 1.5rem 0;
      }
  }







 





