/* Body Styling */
:root {
    --background: #f9f9f9;
    --primaryText: #180126;
    --secondaryText: #7e7a8f;
    --tertiaryText: #c3c7d2;
    --primaryColor: #3a5df8;
    --secondaryColor: #f3ea12;
  }
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body {
      margin: 0;
      padding:0;
      color: var(--primaryText);
      font-family: "Open Sans", sans-serif;
  }
  
  .download-btn,
  .schedule-btn {
      background: var(--secondaryColor);
      color: var(--primaryText);
      font-size: 13px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      padding: 10px 50px;
      width: 243px;
  }
  
  .download-btn:hover,
  .schedule-btn:hover {
      background-color: var(--background);
      border: 1px solid var(--primaryColor);
      color: var(--primaryColor);
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  /* Ë… This is so all the content sections have the same border, color and are vertically centered */
  .bubble-style{
    border-radius: 20px;
      background-color: var(--background);
      border: 1px solid var(--tertiaryText);
      align-items: center;
  }
  /* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
  .wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "sidebar"
        "title"
        "patient"
        "medinfo"
        "appointment"
        "prescriptions"
        "visits";
  }

  /************************************ Section Styling ************************************/
  
  /********** Nav Mobile View**********/
  header {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }
  nav {
    grid-area: sidebar;
  }
  .logo {
    width: 60%;
    margin: 0;
  }
  .hamburger {
    display: block;
    float: right;
  }
  button.hamburger {
   padding: 0;
   margin: 0;
   background-color: transparent;
   border: none;
  }
  
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70vh;
    background-color: var(--primaryColor);
    justify-content: center;
    z-index: 10;
  } 
  .nav-ul a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
  }
  .nav-ul li {
    padding: 20px;
    list-style-type: none;
  }
  .nav-ul img {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-ul.show {
     display: flex;
  }
  .active-link {
      color: var(--secondaryColor) !important;
  }
  /***** Title of Page and Back Button *****/
  .page-title {
    grid-area: title;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .page-title h1 {
    text-align: center;
  }
  .page-title a, .appointments a {
    color: var(--primaryColor);
    text-decoration: none;
  }
  .page-title a:hover, .appointments a:hover{
    color: var(--secondaryColor);
  }
  .page-title img {
    vertical-align: middle;
  }
  /***** Patient Information *****/
  .patient-profile {
    grid-area: patient;
    margin: 1rem;
    font-size: 14px;
  }  
  .patient-profile h2 {
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .patient {
    padding: 2rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    
  }
  .patient img {
    width: 70%;
  }

.col3, .col4 {
  display: none;
}
  /***** Med Info *****/
  .medical-info{
      grid-area: medinfo;
      /*padding: 2rem;*/
      padding-left: .5rem;
  }
  .medical-info h2 {
    margin-left: 1rem;
  }
  .med-info-detail{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .med-info-group {
      padding: 1rem;
  }
  .med-icon {
      height: 30px;
  }
  .med-info-title {
      font-weight: 700;
  }
  .med-stats {
      color: var(--primaryColor);
      font-size: 20px;
      font-weight: 700;
  }
  .stat-change {
  width:20px;
  }
  
   /***** Appointments *****/
  .appointments{
    grid-area: appointment;
    margin: 1rem;
  }
  .visits-bubble {
    line-height: 1;
  }
  .up-down {
      padding-left: 5px;
      margin-bottom: -5px;
  }
  
  /***** Users *****/
  .prescriptions {
      grid-area: prescriptions;
      margin: 1rem;
  }
  .prescriptions p {
    line-height: 2;
  }
  
  .bubble {
    display: grid;
      grid-template-columns: .5fr 1fr;
    justify-content: space-around;
      margin: .5rem;
      padding: .85rem 1.5rem;
    /*text-align: center;*/
  }
  #contactsPic {
    width: 70px;
    margin-left: 5px;
  }
  
  /***** Recent Visits *****/
  .visits {
      grid-area: visits;
      margin: 1rem 1rem 1rem 1rem;
  }
  .visits .heading{
    margin-bottom: 5px;
  }
  .visits-bubble {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
  }
  .visits-bubble p, .visits-bubble img {
    vertical-align: middle;
  }
  .visits-bubble img {
    margin-right: 10px;
    margin-left: 10px;
  }
  .visits-bubble .visit {
    display: flex;
    margin: 10px 0 5px 0;
    align-items: stretch;
    justify-content: center;
  }
  .clinic {
    padding: 5px 0;
    margin: 0 10px;
  }
  
  .action-btns {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .bubble-heading {
    display: none;
  
  }
  /* Styling for Headings */
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
  }
  .heading h2 {
    width: 60%;
  }
  
  /************************Styling for Laptops and Small Screens 769px and up*****************************/
  @media only screen and (min-width: 769px) {
   
    /* This creates a two column view and makes the sidebar navigation visible  */
    .wrapper {
      grid-template-columns: 275px  1fr;
      grid-template-areas: 
          "header  header"
          "sidebar title"
          "sidebar patient"
          "sidebar medinfo"
          "sidebar appointment"
          "sidebar prescriptions"
          "sidebar visits";
      margin-right: 2rem;
    }
  
    /***** Need this to make nav visible *****/
    /***** Nav *****/
    .logo {
      width: 250px;
    }
   .nav-ul {
     display: flex;
     background-color: var(--primaryColor);
     border-radius: 0 20px 0 0;
     color: var(--background);
     height: 100vh;
     padding-top: 0;
     position: sticky;
     top: 0px;
   }
   
    nav a:hover,
    .activeLink {
      color: var(--secondaryColor);
    }
  
    .nav-ul li {
      line-height: 50px;
    }
    .nav-ul img {
      vertical-align: middle;
      padding-right: 5px;
    }
    
    /* hides hamburger button */
    .hamburger {
      display: none;
    }
    /***** styling for content headings *****/
    h2 {
      font-size: 22px;
    }
      .med-info-detail{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
    /* Patient */
    .patient{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .col3 {
      display: block;
    }
    .page-title h1 {
      margin-top: -30px;
    }
  }
  
  
  
  /************************Styling for Desktops and Large Screens 1200px Up*****************************/
  @media (min-width: 1200px) {
    /* This creates a 3 column view  */
      .wrapper {
          grid-template-columns: 275px 1.5fr 1fr;
          grid-template-areas: 
              "header  header header"
              "sidebar title title"
              "sidebar patient patient"
              "sidebar medinfo medinfo"
              "sidebar appointment prescriptions"
              "sidebar visits visits";
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
          padding-bottom: 20px;
      }
      .heading h2 {
        width: auto;
      }
      /* Patient */
      .patient {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .col1 {
        margin-right: 1rem;
        text-align: center;
      }
      .col2, .col3, .col4 {
        display: grid;
        line-height: .5;
      }
      
      /**** Medical Info *****/
      .medical-info
      {
          margin: 2rem;
      }
      .med-info-detail {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
      }
  
      /**** Appointments Styling Desktop View *****/
      .appointments{
        margin: 1rem 2rem;
      }
  
      .prescriptions {
        margin: 1rem 2rem 1rem 1rem;
      }
      .prescriptions .heading {
          margin-bottom: 22px;
      }
      /***** Recent Visits Styling Desktop View n*****/
      .visits {
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
      .visits-bubble {
        display: grid;
        grid-template-areas: 
          "visit clinic date buttons";
        grid-template-columns: 200px 1fr 1fr 1fr;
        text-align: left;
        padding: .25rem 1rem;
        justify-content: space-between;
      }
      .visits-bubble .visit {
        display: flex;
        justify-content: start;
      }
     
      .clinic {
        grid-area: clinic;
      }
      .visit-date   {
        grid-area: date;
      }
      .action-btns{
        grid-area: buttons;
      }
      .action-btns {
        margin-right: 0;
        display: flex;
        justify-content: end;
      }
      .bubble-heading {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr;
        padding: 0;
        margin-left: 30px;
        margin-bottom: -20px;
      }
      /* Prescriptions */
      .bubble {
        line-height: 1;
        grid-template-columns: .5fr 1fr;
      }
      
  }