body,
h4 {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  font-weight: 400;
  line-height: 0px;
  font-size: x-large;
}
a {
  text-decoration: none;

  color: #180126;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0em 0.4em 5px;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
}

.navbar a {
  font-weight: 600;
}

.navbar a:visited {
  color: #180126;
}

.active img {
  vertical-align: bottom;
}

li {
  display: inline-block;
  padding: 8px 12px;
  color: #180126;
}
li:hover {
  background-color: #f3ea12;
  border-radius: 4px;
}
.login a{
  color: #180126;
}
.nav-logo {
  vertical-align: middle;
  width: 16%;
}

.logo-div {
  display: flex;
  align-items: center;
}

.nav-logo-text {
  color: rgb(69 122 255);
  font-weight: bold;
  display: inline;
  font-size: larger;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}
/* active-link settings */
.about-nav {
  background-color: #f3ea12;
  border-radius: 4px;
}

/* Not used in about-us.html */
/* li {
  display: inline-block;
  padding: 0px 10px;
  
} */

/* .content-div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 11px;
} */
/* 
.logo-img {
  vertical-align: middle;
  padding-top: 4px;
  padding-left: 35px;
  width: 13%;
} */

/* .content-span {
  color: rgb(69 122 255);
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
} */

/* div.content-logo {
  background-color: #eef0f6;
  margin-top: 40px;
  width: 50%;
  border-radius: 20px;
  margin-left: 25px;
} */

/* div.inner {
  padding-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  white-space: nowrap;
}

.content-img {
  width: 115%;
  padding-top: 125px;
} */

.login-btn {
  background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 320px;
  margin-top: 15px;
  height: 40px;
}

.login-btn:hover,
button:hover {
  background: #eef0f6;
}
.topnav {
  display: none;
}
.wrapper {
  width: 90%;
  margin: 4em auto;
}
.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
label.checkbox,
.password {
  white-space: nowrap;
}
.moth {
  padding-bottom: 2.5em;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 130px;
}
.content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-2 div {
  margin: 1em 0em;
  background-color: #eeeeee;
  padding: 70px 34px 60px 34px;
}
.mri{
  height: 259px;
}
.om {
  background:#eeeeee;
  text-align: justify;
  margin-right: 2em;
  padding: 2em;
}

.omh{
  color: #072AC8;
  font-size: 1.3em;
}

.omt{
  color: #7E7A8F;
}

.mot,
.content-1 {
  margin: 5em 0em;
}

.moth{
  color: #072AC8;
  font-weight: 400;
  font-size: 1.3em;
}

.mott{
  color: #7E7A8F;
}

.pswot{
  color: #7E7A8F;
}

.content-1 p,
.content-2 p {
  text-align: center;
}
footer .blue {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em;
  background-color: #FAFCFF;
}
footer .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .quick-links a {
  padding: 0.5em 0em;
  color: #7E7A8F;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
footer .quick-links a:hover {
  color: #180126;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo span {
  font-size: 20px;
  font-weight: 700;
}
.social-links a {
  font-size: 20px;
  padding-right: 1em;
  color: #180126;
}
.social-links a{
  background-color: transparent;
  transition: 0.3s ease;
  transition-property: background-color, color;
  border-radius: 100px;
  padding: 4px 7px 4px 7px;
}
.social-links a:hover{
  background-color: #7E7A8F;
}
.copyright {
  text-align: center;
  color: #7E7A8F;
  background-color: #eeeeee;
  padding: 0.1px 0px 0.1px 0px;
}

.fm{
  color: #7E7A8F;
}

.find-us p, a{
  color: #7E7A8F;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.find-us a:hover{
  color: #180126;
}

@media screen and (max-width: 991px) and (min-width: 340px) {
  .topnav {
    overflow: hidden;
    display: block;
    position: relative;
  }

  /* .content-div {
    display: block;
  } */

  .navbar {
    display: none;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #180126;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: #f9f9f9;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .omi {
    text-align: center;
  }
  .omi img {
    width: 90%;
  }
  div.content-logo {
    display: none;
  }
  .content-1 {
    flex-direction: column;
  }
  .content-2 {
    flex-wrap: wrap;
  }
  .om {
    margin-right: 0em;
    margin-bottom: 1em;
    padding: 2em;
  }
  footer .blue {
    flex-direction: column;
  }
  .footm,
  .quick-links,
  .find-us {
    margin: 0.8em 0em;
  }
}
