@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
}


/* NAVBAR */
.logo-text{
font-size: 28px;
font-weight: bold;
color: rgb(69 122 255);
width: 214px;
height: 23px;
}

.logo-img {
vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0px 25px 5px;
  align-items: center;
  font-size: 15px;

}

.navbar a {
  font-size: 15px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #180126;
  }


a:hover{
  background: #eef0f6;
}

.navbar a:visited {
  color: #180126;
}

.active {
  vertical-align: middle;
}

.navbar li a:hover {
  background-color: #f3ea12;
   }

.nav-logo {
  vertical-align: middle;
  width: 16%;
}

.nav-logo-text {
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: larger;

}

.login {
  padding-right: 20px;
}

.signup-btn:hover, button:hover{
  background: #eef0f6;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}

.signup {
    margin-top: auto;
}

.signup-nav {
    background-color: #f3ea12;
    padding: 8px 12px;
    border-radius: 5px;
  }

  li {
    display: inline-block;
     padding: 8px 12px; 
  }

  .navbar li:hover {
    background-color: #f3ea12;
   border-radius: 4px;    
  }

.topnav {
    display: none;
  }
  
  h2{
      text-align: center;
      font-weight: 100;
      font-size: xx-large;
    }
 
   label {
     font-weight: bold;
     text-align-last: start;
   } 

   input, select#inquiry{
    width: 318px;
    height: 39px;
    border: 0.5px solid gray;
    border-radius: 5px;
   }

   label, input {
     display: block;
   }

   .contact-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
   }

   .map-img {
    width: 35%;
   }

   .phone-img {
    width: 30%;
   }

   .email-img {
    width: 21%;
   }

   figcaption {
    font-weight: 700;
    color: rgb(69,122,255);
   }
   
  .form {
    width: 50%;
    margin: auto;
    }

    .input-container {
      margin: auto;
      justify-content: space-between;
      display: flex;
    }

    .form-div{
    display: inline-block;
   }

   .dropdown{
    text-align: left;
    margin-top: 13px;
    padding-bottom: 30px;
   }

   .bottom-form {
   display: inline-block;
   }

   #fname, #email {
    margin-right: 100px;
   }

   textarea#comment {
    resize: none;
    height: 300px;
    width: 740px;
    }

   .submit-btn{
   background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 190px;
   margin-top: 15px;
  height: 40px;
   }

   .submit-btn:hover {
    background: #eef0f6;
   }

   footer {
    justify-content: center; 
    margin-top: 5em;   
        }

   p {
    color: rgb(164,162,179);
    }

    .follow-us, .address-header, .email-header {
      color: #180126;
    }


.navbar-footer {
    margin-top: 30px;
}

.content-span{
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: 23px;
   vertical-align: middle;
}

.bold {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 3em;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 250px;
    padding-right: 186px;
    padding-bottom: 70px;
    background-color: rgb(238,240,246);
    
}

.follow-us {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 2.5em;
}

.social-icons {
    cursor: pointer;
    padding: 2px;
}

.footer-icon {
  width: 2%;
}

.fab {
    justify-content: space-between;
    padding: 4px;
}


.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: -230px;
    margin-left: 350px;
}

.quick-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 15px;   
    }

.link a {
  color: rgb(164,162,179)
}

.link a:hover{
  color: #180126;
}

.office-info {
    margin-top: -330px;
    margin-left: 720px;
}

.address-header {
    font-family: 'Open Sans', sans-serif;
    font-family: 18px;
    font-weight: 700;
}

.address-info {
  margin-top: 2px;
  margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.email-header {
  margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.email-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 14px;
    }

    .copyright p {
      margin-top: 0px;
    }

    /* .number-break {
    display: none;
    } */
    
  @media screen and (max-width: 750px) and (min-width: 340px) {
    .topnav {
      overflow: hidden;
      display: block;
      position: relative;
    }

    .topnav a {
      font-weight: 600;
    }
    
  
    h6 {
      padding: 0;
    } 
  
    .content-div {
      display: block;
    }
  
    .navbar {
      display: none;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
      display: none;
    }
  
     
    /* Style navigation menu links */
    .topnav a {
      color: #180126;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 15px;
      display: block;
      text-align: center;
      
       }
  
    
    /* Style the hamburger menu */
    .topnav a.icon {
      background: #f9f9f9;;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav img {
      vertical-align: middle;
    }

    /* .number-break {
      display: unset;
      } */
    

    h2 {
      font-size: large;
    }

    .contact-div {
      align-items: flex-end;
      display: inline-flex;
    }

    .map-img {
      width: 80%;
    }

    .map-div, .phone-div, .email-div {
    margin-right: 0;
    margin-left: 0;  
    }

    figcaption {
      font-size: 11px
    }

    .phone-img {
     width: 68%;
    }

    .email-img {
      width: 49%;
    }

    .form, .dropdown {
      width: 100%;
      text-align: center; 
    }

    .input-container {
      display: block;
    }

    textarea#comment {
      height: 215px;
      width: 390px;
      }

      #fname, #email {
        margin-right: 0;
       }

       .submit-btn {
       margin-left: 100px;
       }



       .footer-info {
         display: inline-flex;
         flex-direction: row;
         padding: 0;
       }

       .footer-links {
         margin: 0;
        }

       .office-info {
         margin: 0;;
       }

}