@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
}


/* NAVBAR */
.logo-text{
font-size: 28px;
font-weight: bold;
color: rgb(69 122 255);
width: 214px;
height: 23px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0em .4em 5px;
  align-items: center;
  font-size: 15px;

}

.navbar a {
  font-size: 15px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #180126;
  }


a:hover{
  background: #eef0f6;
}

.navbar a:visited {
  color: #180126;
}

.active {
  vertical-align: middle;
}

.navbar li a:hover {
  background-color: #f3ea12;
    padding: 3px 3px;
    border-radius: 5px;
    color: #180126;
}

.nav-logo {
  vertical-align: middle;
  width: 16%;
}

.nav-logo-text {
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: larger;

}

.signup-btn:hover, button:hover{
  background: #eef0f6;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}

.signup {
    margin-top: auto;
}

.signup-nav {
    background-color: #f3ea12;
    padding: 8px 12px;
    border-radius: 5px;
  }

li {
  display: inline-block;
  padding: 0px 10px;
  }

.topnav {
    display: none;
  }
  
  h2{
      text-align: center;
      font-weight: 100;
      font-size: xx-large;
    }
 
   label {
     font-weight: bold;
     text-align-last: start;
   } 

   input, select#inquiry{
    width: 280px;
    height: 33px;
    border-radius: 5px;
   }

   label, input {
     display: block;
   }
   .contact-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
   }

   .map-img {
    width: 100%;
   }

   .phone-img {
    width: 88%;
   }

   .email-img {
    width: 63%;
   }

   figcaption {
    font-weight: 700;
    color: #072AC8;
   }
   
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .form-div{
    display: inline-block;
   }

   .dropdown{
    width: 55%;
    margin-top: 13px;
    padding-bottom: 30px;
   }

   .bottom-form {
   display: inline-block;
   }

   #fname, #email {
    margin-right: 100px;
   }

   textarea#comment {
    resize: none;
    height: 300px;
    width: 350px;
    padding-left: 420px;
   }

   .submit-btn{
   background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 190px;
   margin-top: 15px;
  height: 40px;
   }

   footer {
    background-color: var(--paleblue);
    justify-content: center; 
    margin-top: 5em;   
    height: 100vh;
   
}

.navbar-footer {
    margin-top: 3.5em;
}

.bold {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
    margin-top: 3em;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--verylightgray);
    padding-left: 3rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}

.follow-us {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 2.5em;
}

.social-icons {
    cursor: pointer;
    padding: 2px;
}

.fab {
    color: var(--black);
    justify-content: space-between;
    padding: 4px;
}

.fab:hover{
    color: var(--lightblue);
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: -230px;
    margin-left: 380px;
}

.quick-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--darkgray);
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.link:hover {
    color: var(--lightblue);
}

.office-info {
    margin-top: -330px;
    margin-left: 720px;
}

.address-header {
    font-family: 'Open Sans', sans-serif;
    font-family: 18px;
    font-weight: 700;
}

.address-info {
    color: var(--darkgray);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.email-header {
    margin-top: 6em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.email-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--darkgray);
    line-height: 30px;
}

.copyright {
    display: flex;
    flex-direction: wrap;
    padding:0;
    font-size: 18px;
    font-weight: 400;
    color: var(--darkgray);
}
    
  @media screen and (max-width: 750px) and (min-width: 340px) {
    .topnav {
      overflow: hidden;
      display: block;
      position: relative;
    }
    
  
    h6 {
      padding: 0;
    } 
  
    .content-div {
      display: block;
    }
  
    .navbar {
      display: none;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
      display: none;
    }
  
     
    /* Style navigation menu links */
    .topnav a {
      color: #180126;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 15px;
      display: block;
      text-align: center;
       }
  
    
    /* Style the hamburger menu */
    .topnav a.icon {
      background: #f9f9f9;;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

}