
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  resize: none;
}

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
  display: block;
  margin: 0;
 }
 a {
  text-decoration: none;
  color: #180126;
}
/* NAVBAR */
.topnav {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0em 0.4em 5px;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
}

.navbar a {
  font-weight: 600;
}

.navbar a:visited {
  color: #180126;
}

.active img {
  vertical-align: bottom;
}

li {
  display: inline-block;
  padding: 8px 12px;
  color: #180126;
}
li:hover {
  background-color: #f3ea12;
  border-radius: 4px;
}
.login a{
  color: #180126;
}
.nav-logo {
  vertical-align: middle;
  width: 16%;
}

.logo-div {
  display: flex;
  align-items: center;
}

.nav-logo-text {
  color: rgb(69 122 255);
  font-weight: bold;
  display: inline;
  font-size: larger;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}
/* active-link settings */
.active-nav {
  background-color: #f3ea12;
  border-radius: 4px;
}
  
  h2{
      text-align: center;
      font-weight: 100;
      font-size: xx-large;
    }
 
   label {
     font-weight: bold;
     text-align-last: start;
   } 

   input{
    width: 300px;
    height: 39px;
    border: 0.5px solid gray;
    border-radius: 5px;
   }
  .select-box{
    margin:1em 0em
  }
#inquiry{
  width:709px;
  height: 39px;
  border: 0.5px solid gray;
  border-radius: 5px;
}
   label, input {
     display: block;
   }

   .contact-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
    white-space: nowrap;
   }

   .map-img {
    width: 35%;
   }

   .phone-img {
    width: 30%;
   }

   .email-img {
    width: 21%;
   }

   figcaption {
    font-weight: 700;
    color: rgb(69,122,255);
   }
   
  .form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: revert;
    align-content: center;
    }

    .input-container {
      margin: auto;
      justify-content: center;
      display: flex;
      flex-direction: row;
     }

    .form-div, .form-div-two{
    display:flex;
  
   }

   .form-div div, .form-div-two div{
  
    margin:1em 0em;
   }
   .dropdown{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 13px;
    padding-bottom: 30px;
    width: 748px;
    padding-left: 292px;
   }

   .bottom-form {
   display: inline-block;
   }

   #fname, #email {
    margin-right: 95px;
   }

   textarea#comment {
    resize: none;
    height: 300px;
    width: 717px;
    margin:1em 0em;
    }

   .submit-btn{
   background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 190px;
   margin-top: 15px;
  height: 40px;
   }

   .submit-btn:hover {
    background: #eef0f6;
   }

   footer {
    margin-top: 2em; 
    }

   p {
    color: rgb(164,162,179);
    }

    h4 {
        font-size: large;
    }

    

    .follow, .address-header, .email-header {
      color: #180126;
    }

.navbar-footer {
    margin-top: 15px;
}

.content-span{
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: 23px;
   vertical-align: middle;
}

.bold {
    font-weight: 400;
    margin-top: 10px;
   }

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: rgb(238,240,246);
    }


.follow {
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 0px;
    }

    .follow-header{
    margin-bottom: 10px;
    margin-top: 70px;
    }

    .office-header{
    margin-bottom: 0px;
    margin-top: 15px;  
    }

.footer-icon {
  width: 26px;
  padding: 2px;
}

.fab {
    justify-content: space-between;
    padding: 4px;
}

.fab, .far {
    font-size: 20px;
}


.footer-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-left: 0px;
}

.quick-links {
    font-size: 18px;
    font-weight: 700;
    
}

.link {
    font-weight: 400;
    font-size: 18px;
    padding: 15px;   
    }

.link a {
  color: rgb(164,162,179)
}

.link a:hover{
  color: #180126;
}

.address-header {
    font-size: 18px;
    font-weight: 700;
}

.address-info{
  font-size: 14px;
  margin-top: 10px;
}

.email-header {
    margin-bottom: 0px;
    margin-top: 93px;
}

.email-p-one {
    margin-bottom: 0px;
    margin-top: 10px;
}
.email-p-two {
    margin-top: 10px;
}

.email-info {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 14px;
    background-color: rgb(249,249,249);
    }

    .copyright p {
      margin-top: 0px;
    }


    @media screen and (max-width: 426px)  {
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(238,240,246);
        }

    li {
        padding: 9px 0px;
    }

    .email-header {
        margin-top: 25px;
    }

    .bold {
        padding-left: 0px;
    }

    .link {
        padding: 8px 0px;
    }

    .footer-info {
        padding-left: 10px;
    }

    .follow-header{
        margin-top: 20px;
        }

}

    @media screen and (max-width: 991px)  {
        .form-div, .form-div-two {
            display: block;
        }
        #inquiry {
            width: 307px;
        }

       .comment{
        width: 318px
       } 

       textarea#comment {
        height: 200px;
        width: 323px;
       }

       .form {
        width: 100%;
        margin: auto;
       }


      .contact-div {
          display: none;
      }

      .content-span {
        white-space: nowrap;
        font-size: 19px;
        }

      #fname, #email {
        margin-right: 0;
       }

       .submit-btn {
        margin-left: 70px;
       }

       .logo-img {
           width: 20px;
       }

       .link {
        padding: 8px 0px; 
        }

        .address-header{
            margin-bottom: 5px;
            margin-top: 0px;
        }

        .social-icons {
            padding-top: 0;
            margin-left: 0px;
        }

        .footer-icon {
            width: 20px;
        }
        
    }
    @media screen and (max-width: 857px) {
      /*Navbar Mobile View */
      .topnav {
        overflow: hidden;
        display: block;
        position: relative;
      }
    
      /* .content-div {
        display: block;
      } */
    
      .navbar {
        display: none;
      }
    
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
    
      /* Style navigation menu links */
      .topnav a {
        color: #180126;
        padding: 20px 16px;
        text-decoration: none;
        font-size: 17px;
        text-align: center;
        display: flex;
        align-items: center;
      }
    
      /* Style the hamburger menu */
      .topnav a.icon {
        background: #f9f9f9;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      div.content-logo {
        display: none;
      }
  }