:root {
  --main-color: #180126;
  --grey: #eeeeee;
  --yellow: #f3ea12;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0;
}
nav {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-cross {
  width: 3%;
  height: 0.5%;
  margin-top: 1%;
  margin-left: 2%;
}
.nav-header {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: var(--main-color);
  width: 214px;
  height: 23px;
  margin-left: 0.5%;
  margin-top: 1.2%;
}
.nav-ul {
  display: inline-flex;
  color: var(--main-color);
  list-style: none;
  flex-grow: 1;
  margin-left: 20%;
  margin-top: 2%;
}

.home-btn {
  margin-left: 1%;
  margin-top: 1%;
}
a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 8%;
  color: var(--main-color);
}
.nav-ul > li {
  padding-left: 2%;
  font-weight: bold;
}
.nav-ul > li:hover {
  cursor: pointer;
}

.faq-li {
  color: blue;
}

.search-bar-div {
  width: 100%;
  height: 209px;
  background-color: var(--grey);
  margin-left: 0%;
  text-align: center;
}

.greeting-h1 {
  font-size: 36px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 2%;
}
.input {
  display: inline-flex;
  width: 100%;
  margin-top: 0;
  height: 40px;
  justify-content: center;
}

#search-box {
  font-size: 13px;
  height: 40px;
  width: 458px;
  padding-right: 0;
  margin-right: 0;
  margin-top: 2.5%;
  border: none;
}
.search-btn {
  width: 197px;
  height: 41px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 2.5%;
  background-color: rgb(96, 118, 216);
  border: none;
  font-weight: 700;
  font-size: 13px;
}

.search-btn:hover {
  cursor: pointer;
}

.questions-h1 {
  text-align: center;
  margin-top: 10%;
}

.accordion-div {
  width: 80%;
  height: 100px;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.accordion {
  background-color: hsla(229, 93%, 41%, 1);
  color: #eeeeee;
  cursor: pointer;
  width: 75%;
  height: 60px;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--main-color);
  transition: 0.4s;
}

.answer {
  background-color: hsla(0, 0%, 93%, 1);
  text-align: left;
  margin-right: 25%;
  display: block;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s ease-out;
}

.active,
.accordion:hover {
  background-color: rgba(62, 85, 190, 0.945);
}

.accordion:after {
  content: "\02795";
  font-size: 16px;
  color: #777;
  height: 25px;
  width: 20px;
  float: right;
  margin-right: 4%;
  padding-left: 8px;
  padding-top: 2px;
}

.active:after {
  content: "\2796";
  font-size: 16px;
  color: black;
  padding-left: 5px;
}

h3 {
  text-align: center;
  margin-top: 15%;
  font-size: 20px;
  padding-top: 5%;
}
footer {
  font-size: 50px;
  text-align: center;
}

.fa-envelope {
  padding-left: 2%;
}

.contact-info {
  display: flex;
  width: 50%;
  margin-left: 25%;
}

.call-us {
  width: 50%;
}

.email-us {
  width: 50%;
}

.call-paragraph {
  padding-right: 5%;
  margin-left: 50%;
  width: 120px;
  font-size: 16px;
  width: 50%;
  text-align: center;
}

.email-paragraph {
  margin-left: 5%;
  font-size: 16px;
  width: 50%;
  text-align: center;
}

/*Media query for tablets in landscape*/
@media (max-device-width: 1280px) and (orientation: landscape){
    body {
        font-family: "Open Sans", sans-serif;
        width: 100%;        
      }
    
    .nav-ul {
        display: inline-flex;
        color: var(--main-color);
        list-style: none;
        flex-grow: 1;
        margin-left: 15%;
        margin-top: 2%;
      }

      .questions-h1 {
        text-align: center;
        margin-top: 3%;
      }

      footer {
        margin-top: 20%;
        font-size: 50px;
        text-align: center;
      }
      
}

/*Media query for mobile devices*/
@media screen and (max-width:800px) and (min-width:400px){
    body {
        font-family: "Open Sans", sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;              
      }

      nav {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .nav-header {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        line-height: 38px;
        color: var(--main-color);
        width: 100%;
        height: 23px;        
        margin-top: 0%;
      }

      .nav-cross {
        text-align: center;
        width: 10%;
        height: 0.5%;
        margin-top: 1%;
        margin-left: 45%;
      }
      .nav-ul {
        display: inline-flex;
        flex-direction: column;
        line-height: 2rem;
        color: var(--main-color);
        list-style: none;        
        margin-left: -15%;
        margin-top: 2%;
        background-color: #eeeeee;
      }

      .search-bar-div {
        width: 100%;
        height: 209px;
        background-color: var(--grey);        
        text-align: center;
      }      
      .greeting-h1 {
        font-size: 25px;        
        padding-top: 10%;
        margin-top: 5%;
      }
      .input {
        display: inline-flex;
        width: 80%;
        padding-top: 5%;
        height: 40px;
        justify-content: center;
      }
      
      #search-box {
        font-size: 13px;
        height: 40px;
        width: 458px;
        padding-right: 0;
        margin-right: 0;
        margin-top: 2.5%;
        border: none;
      }
      .search-btn {
        width: 197px;
        height: 41px;
        padding-left: 0;
        margin-left: 0;
        margin-top: 2.5%;
        background-color: rgb(96, 118, 216);
        border: none;
        font-weight: 700;
        font-size: 13px;
      }
      .accordion-div {
        width: 100%;
        height: 100px;       
        margin-bottom: 5%;
      }
      
      .accordion {
        background-color: hsla(229, 93%, 41%, 1);
        color: #eeeeee;
        cursor: pointer;
        width: 100%;
        height: 60px;
        text-align: left;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--main-color);
        transition: 0.4s;
        margin-left: -19.5%;
      }
      
      .answer {
        background-color: hsla(0, 0%, 93%, 1);
        text-align: left;        
        display: block;
        overflow: hidden;
        max-height: 0px;
        width: 100%;
        margin-left: -19.5%;
        transition: max-height 0.2s ease-out;
      }

      .accordion:after {
        content: "\02795";
        font-size: 16px;
        color: #777;
        height: 25px;
        width: 20px;
        float: right;
        margin-right: 4%;
        padding-left: 8px;
        padding-top: 2px;
      }
      
      .active:after {
        content: "\2796";
        font-size: 16px;
        color: black;
        padding-left: 5px;
      }

      .call-paragraph {
        padding-right: 5%;
        margin-left: 20%;        
        font-size: 16px;
        width: 100%;
        display: flex;
      }
      
      .email-paragraph {
        margin-left: 35%;        
        font-size: 16px;
        width: 40%;
        display: flex;
      }
      .email-us {
        width: 100%;
      }
      .fa-envelope {
        padding-left: 15%;
      }
      
      footer {
        margin-top: 80%;
        font-size: 50px;
        text-align: center;
      }

      
}