body{
    font-family: "open sans";
    width: 100%;
}

.main-container{
    display: flex;
    width: 30%;
    align-content: center;
    justify-content: center;
    height: 550px;
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #c4c4c433;
}

.navlogo{
    width: 8%;
    padding-bottom: 170px;
}

#navlogotext{
    padding-top: 173px;
    font-weight: 700;
    color: #457aff;
    font-size: 1.7vw;
}

.container-img{
    position: absolute;
    width: 30%;
    top: 60%;
}

.container-sub-text{
    font-size: 1.1vw;
    color: black;
}

.password-recovery-div{
    width: 40%;
    padding-left: 50%;
    position: relative;
    top: -500px;
}

.password-recovery-header{
    font-size: 2vw;
}

.password-recovery-subtext{
    font-size: 1.2vw;
}

.email{
    text-align: left;
    padding: 12px 50px 12px 29px;
    font-size: 1vw;
    font-family: 'open sans';
    margin-bottom: 15px;
    width: 80%;
    outline: none;
}

.email-input{
    margin-top: 15px;
}

.email-button{
    text-align: center;
    width: 94.5%;
    background-color: #f3ea12;
    border: none;
    padding: 15px 0px;
    font-weight: 700;
    font-size: 1vw;
}

.email-button:hover{
    transition: 0.3s ease-out;
    background-color: #f3ec12ad;
    cursor: pointer;
}