body{
    font-family: "open sans";
    width: 100%;
    height: 1vh;
}

.main-container{
    display: flex;
    width: 30%;
    align-content: center;
    justify-content: center;
    height: 550px;
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #c4c4c44d;
}

.navlogo{
    width: 8%;
    padding-bottom: 170px;
}

#navlogotext{
    padding-top: 173px;
    font-weight: 700;
    color: #457aff;
    font-size: 1.7vw;
}

.container-img{
    position: absolute;
    width: 30%;
    top: 60%;
}

.container-sub-text{
    font-size: 1.1vw;
    color: black;
}

.password-recovery-div{
    width: 40%;
    padding-left: 50%;
    position: relative;
    top: -500px;
}

.password-recovery-header{
    font-size: 2vw;
}

.password-recovery-subtext{
    font-size: 1.2vw;
}

.email{
    text-align: left;
    padding: 12px 50px 12px 29px;
    font-size: 1vw;
    font-family: 'open sans';
    margin-bottom: 15px;
    width: 80%;
    outline: none;
}

.email-input{
    margin-top: 15px;
}

.email-button{
    text-align: center;
    width: 94.5%;
    background-color: #f3ea12;
    border: none;
    padding: 15px 0px;
    font-weight: 700;
    font-size: 1vw;
}

.email-button:hover{
    transition: 0.3s ease-out;
    background-color: #f3ec12ad;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .main-container{
        height: 470px;
    }

    .navlogo{
        padding-bottom: 100px;
    }

    .container-sub-text{
        font-size: 1.4vw;
    }

    .password-recovery-div{
        position: relative;
        top: -450px;
    }

    .password-recovery-header{
        font-size: 2.5vw;
    }

    .password-recovery-subtext{
        font-size: 1.4vw;
    }

    .email-button{
        font-size: 1.3vw;
    }

    .email{
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 768px) {
    .main-container{
        height: 400px;
    }

    .navlogo{
        padding-bottom: 30px;
        width: 10%;
    }

    #navlogotext{
        font-size: 2.2vw;
    }

    .container-sub-text{
        font-size: 1.7vw;
    }

    .password-recovery-div{
        position: relative;
        top: -400px;
    }

    .password-recovery-header{
        font-size: 2.5vw;
    }

    .password-recovery-subtext{
        font-size: 1.7vw;
    }

    .email{
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 425px) {

    .main-container{
        width: 40%;
        height: 300px;
        margin-left: 20px;
    }

    #navlogotext{
        font-size: 3.4vw;
        padding-top: 130px;
    }

    .navlogo{
        width: 14%;
        padding-top: 10px;
    }

    .container-sub-text{
        font-size: 2.6vw;
    }

    .container-img{
        width: 45%;
        padding-right: 20px;
        position: absolute;
        top: 350px;
    }

    .password-recovery-div{
        position: relative;
        top: -300px;
    }

    .password-recovery-header{
        font-size: 3.3vw;
    }

    .password-recovery-subtext{
        font-size: 2.6vw;
    }

    #email-box{
        width: 60%;
    }

    .email-input{
        font-size: 2.3vw;
    }

    .email-button{
        font-size: 2vw;
    }
}

@media screen and (max-width: 375px){
    .password-recovery-header{
        font-size: 3.5vw;
    }

    .password-recovery-subtext{
        font-size: 3vw;
    }

    .email-input{
        font-size: 3vw;
    }

    .email-button{
        font-size: 2.5vw;
    }
}