@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
}



/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0em .4em 5px;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
 }

a {
    text-decoration: none;
   font-weight: 600;
   color: #180126;
  }


.navbar a:visited {
  color: #180126;
}

.active img {
  vertical-align: bottom;
  
}


li {
  display: inline-block;
   padding: 8px 12px; 
}
li:hover {
  background-color: #f3ea12;
 border-radius: 4px;    
}

.nav-logo {
  vertical-align: middle;
    width: 16%;
}

.logo-div {
  display: flex;
align-items: center;
}

.nav-logo-text {
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: larger;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}


.login-nav {
    background-color: #f3ea12;
    padding: 8px 12px;
    border-radius: 4px;
  }

/* li {
  display: inline-block;
  padding: 0px 10px;
  
} */

.content-div {
  display: flex;
  justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 11px;  
}

.logo-img {
  vertical-align: middle;
  padding-top: 4px;
  padding-left: 35px;
  width: 13%;
}

.content-span {
  color: rgb(69 122 255);
  font-weight: bold;
   font-size: 30px;
   vertical-align: middle;
}


div.content-logo {
  background-color: #eef0f6;
    margin-top: 40px;
  width: 50%;
  border-radius: 20px;
  margin-left: 25px;
  
}

div.inner {
  padding-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  white-space: nowrap;
}

.content-img {
  width: 115%;
  padding-top: 125px;
}

h2 {
  text-align: center;
    font-weight: 400;
  line-height: 0px;
  font-size:x-large;
  }


.login-btn {
  background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 320px;
   margin-top: 15px;
  height: 40px;
}

.login-btn:hover, button:hover{
  background: #eef0f6;
}

   label.checkbox, .password {
    white-space: nowrap;
   }

/* .password a {
  font-size: smaller;
  font-size: 13px;
} */

/* FORM */
.form {
  padding-bottom: 0px;
  width: 40%;
  padding-top: 69px;
  padding-left: 15px;
  margin-left: 50px;
 }

input[type="email"],
input[type="password"] {
  width: 320px;
  padding: 8px 32px;
  margin: 8px 0px;
   border: 1.5px solid #c3c7d2;
  border-radius: 10px;
  box-sizing: border-box;
  }

  .checkbox {
    padding-right: 42px;
  }

  .password a:hover, .signup-link:hover{
    color: rgb(164,162,179);
  }

h3 {
  font-weight: 500;
    line-height: 0;
  }

div.login-nav {
    margin-right: 85px;
}

h6{
  font-size: smaller;
  margin-top: 19px;
     font-weight: 100;
  padding: 0 0 0 12em;
  margin-bottom: 15px;
}

.social-btn {
    background-color: #f9f9f9;
        border: 1.5px solid #c3c7d2;
        padding: 10px 7px;
    border-radius: 5px;  
    margin-right: 15px;
    margin-bottom: 20px; 
     }

.social-div {
  display: flex;
  white-space: nowrap;
}

.icon {
  width: 20px;
  padding-right: 5px;
  vertical-align: text-bottom;
}

 p {
  font-size: medium;
  margin-top: 0;
 }
 .topnav {
  display: none;
}


@media screen and (max-width: 600px) and (min-width: 340px) {
  .topnav {
    overflow: hidden;
    display: block;
    position: relative;
  }

  .content-div {
    display: block;
  }

  .navbar {
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

   
  /* Style navigation menu links */
  .topnav a {
    color: #180126;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: flex;
align-items: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #f9f9f9;;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  div.content-logo {
    display: none;
  }

  .form{
    width: 100%;
  }

  .form {
    text-align: center;  }

    .social-div{
      display: flex;
      justify-content: center;
    }

 .login-btn {
  width: 179px;
  height: 35px;
  margin-top: 25px; 
}

div.inner {
  padding: 1em 2em 0em;
}
 
 .content-img {
  width: 100%;
  padding-top: 30px;
}

h2 {
  font-size: 15px;
    padding-left: 6px;
}

h6 {
  padding:0;
  margin-top: 10px;
}

}