.email-button{
    margin-top: 25px;
}

#new-password{
    color: black;
    font-size: 0.9vw;
}

#confirm-password{
    color: black;
    font-size: 0.9vw;
}

@media screen and (max-width: 425px) {
    #new-password{
        font-size: 2vw;
    }

    #confirm-password{
        font-size: 2vw;
    }
}

@media screen and (max-width: 375px) {
    #new-password{
        font-size: 2.5vw;
    }

    #confirm-password{
        font-size: 2.5vw;
    }
}
