@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #180126;
}


/* NAVBAR */
.logo-text{
font-size: 28px;
font-weight: bold;
color: rgb(69 122 255);
width: 214px;
height: 23px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0em .4em 5px;
  align-items: center;
  font-size: smaller;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #180126;
  }


a:hover{
  background: #eef0f6;
}

.navbar a:visited {
  color: #180126;
}

.active:hover{
  background: #f9f9f9;
}

.navbar a:hover {
  background-color: #f3ea12;
    padding: 8px 12px;
    border-radius: 5px;
    color: #180126;
}

.nav-logo {
  vertical-align: top;
    width: 16%;
}

.nav-logo-text {
color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
}

.signup-btn:hover, button:hover{
  background: #eef0f6;
}

ul.nav-tabs,
ul.login {
  list-style-type: none;
}

.signup {
    margin-top: auto;
}

.signup-nav {
    background-color: #f3ea12;
    padding: 8px 12px;
    border-radius: 5px;
  }

li {
  display: inline-block;
  padding: 0px 10px;
  }

.content-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 11px;
}



div.content-logo {
  background-color: #eef0f6;
  width:50%;  
  border-radius: 20px;
  margin-top: 50px;
  }

.logo-img {
  vertical-align: middle;
  padding-top: 8px;
  padding-left: 10px;
  width: 20%;
}

.content-span {
  color: rgb(69 122 255);
  font-weight: bold;
   display: inline;
   font-size: 23px;
   vertical-align: middle;
}

div.inner {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content-img {
  width: 100%;
  padding-top: 65px;
}

.info {
  font-size: smaller;
}

h2 {
  text-align: center;
  font-weight: 400;
line-height: 0px;
font-size:large;
}

input[type="fullname"],
input[type="email"],
input[type="password"] {
  width: 320px;
  padding: 8px 32px;
  margin: 8px 0px;
  border: 1.5px solid #c3c7d2;
  border-radius: 10px;
  box-sizing: border-box;
  }

.signup-btn {
  background: #f3ea12;
  text-align: center;
  border-radius: 2.5px;
  border-style: none;
  font-weight: bold;
  width: 320px;
    font-size: 1em;
    margin-top: 15px;
  height: 40px;
}

.checkbox {
  font-size: 11px;
}

/* FORM */
.form {
  padding-bottom: 0px;
    width: 40%;
    font-family: "Open Sans", sans-serif;
}

h3 {
  line-height: 0%;
  font-weight: 500;
}

label {
  font-size: smaller;
}

div.signup-nav {
    margin-right: 85px;
}

h6{
  font-size: smaller;
  margin-top: 19px;
     font-weight: 100;
  padding: 0 0 0 12em;
  margin-bottom: 15px;
}

.social-btn {
    background-color: #f9f9f9;
    border: 1.5px solid #c3c7d2;
    padding: 10px 11px;
    border-radius: 5px;  
    margin-right: 15px;
    margin-bottom: 20px;  
}

.social-div {
  display: flex;
 }

.icon {
    padding-right: 5px;
}

 p {
  font-size: medium;
 }
.topnav {
  display: none;
}


@media screen and (max-width: 600px) and (min-width: 340px) {
  .topnav {
    overflow: hidden;
    display: block;
    position: relative;
  }

  h6 {
    padding: 0;
  } 

  .content-div {
    display: block;
  }

  .navbar {
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

   
  /* Style navigation menu links */
  .topnav a {
    color: #180126;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #f9f9f9;;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  div.content-logo {
    display: none;
  }

  .form{
    width: 100%;
  }

  .form {
    text-align: center;  }

    .social-div{
      display: flex;
      justify-content: center;
    }

    div.content-logo {
    margin-top: 0px;
    padding-bottom: 0px;
    }
 }
 .login-btn {
  width: 179px;
  height: 35px;
}

div.inner {
  padding: 0;
}


h2 {
  font-size: 15px;
    padding-left: 6px;
}

