@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --white:#f9f9f9;
    --black:#180126;
    --darkgray: #7e7a8f;
    --lightgray: #cec7d2;
    --verylightgray: #F3F3F3;
    --blue:#0721c8;
    --yellow: #f3ea12;
    --lightblue: #457AFF;
    --paleblue: #F3F4FE;
}

body {
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--black);
    margin: 0;
    padding: 0;
  }
header {
    margin: 0;
    padding: 0;
}
/* NAVBAR Desktop View */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0em .4em 5px;
    align-items: center;
    font-size: 15px;
   }
  .navbar a {
      text-decoration: none;
      font-weight: 600;
      color: #180126;
    }
  .navbar a:visited {
    color: #180126;
  }
  .active img {
    vertical-align: bottom;
  }
  .navbar li {
      display: inline-block;
      padding: 8px 12px; 
  }
  .navbar li:hover, .active-link {
      background-color: #f3ea12;
      border-radius: 4px;    
  }
  a.active-hamburger {
      color:#457aff !important;
  }
  .nav-logo {
    vertical-align: middle;
      width: 16%;
  }
  .nav-logo-text {
  color: rgb(69 122 255);
    font-weight: bold;
     display: inline;
     font-size: larger;
  }
  ul.nav-tabs,
  ul.login {
    list-style-type: none;
  }
  .logo-img {
    vertical-align: middle;
    padding-top: 4px;
    padding-left: 35px;
    width: 13%;
  }
   .topnav {
    display: none;
  }
  /* End of Navbar  */

  
 
  .content-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 7px 0 32px;
      
  }
  
  .middle-wrapper {
      display: flex;
      justify-content: space-between;
  }
  .middle-right-left {
    width: 30%;
  }  
  .middle-right-right {
      width: 30%;
  }
  div.content-logo {
    background-color: #eef0f6;
      height: auto;
    width: 50%;
    border-radius: 20px;
    
  }
  
  .logo-img {
    width: 50%;
    padding: 0em 0em 0em 6.5em;
  }
  
  div.inner {
    padding: 2em 2em 2em;
  }
  
  .content-img {
    width: 73%;
    padding: 1em 0 0 6.5em;
    
  }
  
  .middle-header h2 {
    text-align: center;
      font-weight: 400;
    line-height: 0px;
    font-size: 18px;
    
  }
  
  
  .login-btn {
    background: #f3ea12;
    text-align: center;
    border-radius: 2.5px;
    border-style: none;
    font-weight: bold;
    width: 320px;
     margin-top: 15px;
    height: 40px;
  }
  
  .login-btn:hover, button:hover{
    background: #eef0f6;
  }
  
  .checkbox {
    padding-right: 5.7em;
     
  }
  
  .password a {
    font-size: smaller;
    font-size: 13px;
  }

/******Top Section******/
.top-container {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    

}
 .top-left {
    max-width: 35%;
    padding: 55px 80px 40px 80px;
    position: relative;
 }

 .top-container::before {
     content: '';
     position: absolute;
     width: 30%;
     height: 90vh;
     opacity: .07;
     background-image: url(images/landing-page/Ellipse\ 2.png);
     background-repeat: no-repeat;
     background-position: left;
     background-size: cover;
     margin-top: 10em;
 }

  .top-header {
      font-family: 'Open Sans', sans-serif;
      font-size: 31px;
      color: var(--black);
      text-align: left;
  }

  .top-subheading {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: var(--darkgray);
      font-weight: 400;
  }

  .appointment-btn {
      font-weight: 700;
      background-color: var(--yellow);
      color: var(--black);
      border-radius: 6px;
      border: none;
      width: 200px;
      height: 40px;
      cursor: pointer;
  }
  .appointment-btn:hover {
      background-color: var(--white);
      color: var(--blue);
      border: 2px solid var(--blue);

  }

.top-right img {
  float: right; 
  width: 200%;
  margin-right: -350px;
  background-image: url(images/landing-page/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-position: right;
  
}

.container-box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--verylightgray);
    border: none;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    width: 25%;
    height: 40%; 
    margin-top: -5px;
    margin-left: 650px;
}

.numbers {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.words {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/******Middle Section*******/
.middle-container-1 {
    margin: 5em;
}

.middle-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
   
}

.middle-subhead {
    font-size: 20px;
    color: var(--darkgray);
    width: 100%;
}

.middle-right-right {
    margin-top: 100px;
}


.number-1-icon {
   text-align: left; 
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: var(--darkgray);
}

.description-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
    margin-left: 2em;
    
}

.number-2-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-2 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -30px;
     margin-left: 2em;  
 }

 .number-3-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-3 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -5px;
     margin-left: 2em;
     
 }

 .number-4-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-4 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -5px;
     margin-left: 2em;
     
 }

 .get-started-btn {
     background-color: var(--yellow);
     color: var(--black);
     border-radius: 4px;
     border: none;
     height: 40px;
     width: 200px;
     font-size: 16px;
     font-weight: 700; 
     cursor: pointer;
 }
 .get-started-btn:hover {
     background-color: var(--white);
     color: var(--blue);
     border: 2px solid var(--blue);
 }
.start-btn-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/* Doctor Section */
.doctors {
    display: grid;
    justify-content: center;
    margin: 2rem;
    font-size: 14px;
}

.doctors h2 {
    font-size: 16px;
}
.doctors h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: var(--black);
}
.dr-about {
    text-align: center;
    margin-bottom: 1.5rem;
}
.dr-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 20px;
}

.dr-card {
    background-color: var(--verylightgray);
    width: 125px;
    margin: 0;
    padding: 16px;
    color: var(--darkgray);
}
.dr-card img {
    height: 100px;
    width: auto;
}
.dr-btn {
    height: 40px;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--lightgray);
    color: var(--darkgray);
}
.dr-btn:hover {
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
}
 /**Doctor Section**/
 .doctors-section {
     display: block;
     font-weight: 700;
     font-family: 'Open Sans', sans-serif;
     margin-top: 10em;
 }

 .doctors-header {
     text-align: center;
 }

 .doctors-subheading {
     color: var(--darkgray);
     font-weight: 400;
     text-align: left;
     display: block;
     width: 45%;
     margin-left: 310px;
 }

 .doctors-pictures {
     display: grid;
     grid-template-columns: repeat(3, 35%);
     grid-template-rows: (2, 100vw);
 }

 .doctor-4, .doctor-5 img {
     margin-top: 5em;
     margin-left: 12em;
 }

 .view-doctors-btn {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 5em;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
 }

 .view-doctors-btn:hover {
     background-color: var(--white);
     border: 2px solid var(--blue);
     color: var(--blue);
 }
.doctors-btn {
    display: flex;
    justify-content: center;
}
/****Testimonial Section****/
.testimonial-section {
    display: flexbox;

    margin-left: 3.5em
}

 .testimonial-header {
     font-family: 'Open Sans', sans-serif;
     font-size: 37px;
    margin-top: 3em;
   text-align: center;

 }

.row {
    display: flex;
    align-items: baseline;
}

.column {
    flex: 50%;
    padding: 10px;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   margin-left: 320px;
    width: 40%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--blue);
    border-radius: 50%;
}

.dot:hover {
    background-color: var(--lightgray);
    cursor: pointer;
}



/******Lower Section*****/

.lower-section {
    background-color: var(--verylightgray);
    width: 100%;
    height: 100vh;
    margin-top: 4em;
    background-image: url(images/landing-page/Ellipse\ 7.png);
    background-position: 16% 35%;
    margin-top: 3em;
    background-size: 25%;
    background-repeat: no-repeat;

}


 .lower-left img {
    transform: rotate(-15deg);
    background-image: url(images/landing-page/imageedit_2_8918979501.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 65%;
    margin-left: 5em;
}

.lower-right {
    margin-top: -350px;
    background-image: url(images/landing-page/oie_20212938aXa34w6q.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 350px;
    margin-right: 150px;     
}

.lower-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 700;
    text-align: left;
    margin-left: 550px;
    width: 50%;
}  

.lower-subheading {
    margin-left: 550px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.store-icons {
    margin-left: 570px;
    cursor: pointer;;
}

#apple {
    margin: 1em;
    width: 30%;
}

#google {
    margin: 1em;
    width: 30%;
}

/*****Subscription Section*****/
.subscribe-header {
    display: grid;
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.subscription-head {
    font-size: 30px;
    font-weight: 700;
}

.subscription-subheader {
    font-size: 21px;
    font-weight: 400;
}

.email-box {
    border: 1px solid var(--lightgray);
    background-color: var(--white);
    border-radius: 6px;
    width: 235px;
    height: 40px;
}

#subscribe-btn {
    background-color: var(--yellow);
    border-radius: 6px;
    border: 1px solid var(--yellow);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    width: 75px;
    height: 45px;
    margin-left: -77px;
}

#subscribe-btn:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

/*****Footer****/
.brand-footer img {
    vertical-align: top;
    width: 10%;
}

.nav-logo-text {
    color: var(--lightblue);
    font-weight: bold;
    display: inline;
}

footer { 
    margin-top: 5em; 
    font-size: 10px;  
    color: var(--darkgray)
}
footer a {
    text-decoration: none;
    color: var(--darkgray)
}
footer ul, footer li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2.5;
}
footer h4 {
    color: var(--black);
    font-size: 12x;
    margin: 0;
}
footer img {
    width: 70%;
}
.footer-info {
    background-color: var(--paleblue);
    display: grid;
    grid-template-areas: 
        "links office"
        "mission follow";
    padding: 3rem 1rem;
}
.link-list {
    grid-area: links;
}
.office-info {
    grid-area: office;
}
.mission {
    grid-area: mission;
}
.follow {
    grid-area: follow;
}
.navbar-footer {
    margin-top: 3.5em;
}

.social-icons {
    cursor: pointer;
    padding: 2px;
}

.fab {
    color: var(--black);
    justify-content: space-between;
    padding: 4px;
}

.fab:hover{
    color: var(--lightblue);
}

footer a:hover, footer li:hover {
    color: var(--lightblue);
}

.copyright {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--darkgray);
}
   
/************ Styling for Desktop View ***********/
@media screen and (min-width: 768px) {
    /* doctor for desktop */
    .doctors h2 {
        font-size: 30px;
    }
    .dr-about p {
        font-size: 20px;
        margin: 2rem 20rem;
    }
    .hidden {
        display: none;
    }
    .dr-card {
        width: 200px;
        height: auto;
        padding: 2rem;
    }
    .dr-card img {
        height: 200px;
        width: auto;
    }
    
   .dr-container {

       display: grid;
       grid-template-areas: 
        "dr1 dr2 dr3"
        "dr4 dr4 dr5";
        grid-gap: 40px;
        width: 80%;
        justify-content: center;
        margin-left: 135px;
   }
   .dr1 {
       grid-area: dr1;
   }
   .dr2 {
       grid-area: dr2;
   }
   .dr3 {
       grid-area: dr3;
   }
   .dr4 {
       grid-area: dr4;
       display: grid;
       margin-left: 200px;  
   }
   .dr5 {
       grid-area: dr5;
       margin-left: -200px;
   }
    
    /* subscribe for desktop */
    form {
        display: inline-block;
    }
    .email-box{
        width: 320px;
    }
    #subscribe-btn {
        width: 200px;
    }
    .copyright {
        font-size: 16px;
    }
    .footer-info {
        grid-template-areas: 
            "mission links office"
            "follow links office";
        padding: 4rem 150px;
    }
    footer img {
        width: auto;
    }
    footer {
        font-size: 16px;
        line-height: 2;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    footer li {
        line-height: 2;
    }
    footer h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 857px) {
    /*Navbar Mobile View */
  .topnav {
    overflow: hidden;
    display: block;
    position: relative;
  }
  .navbar {
    display: none;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #180126;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #f9f9f9;;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}