/* Body Styling */
:root {
  --background: #f9f9f9;
  --primaryText: #180126;
  --secondaryText: #7e7a8f;
  --tertiaryText: #c3c7d2;
  --primaryColor: #3a5df8;
  --secondaryColor: #f3ea12;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding:0;
    color: var(--primaryText);
    font-family: "Open Sans", sans-serif;
}
main {
    grid-area: main;
}
.back {
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}
.back:link,
.back:visited {
    color: var(--primaryColor);
}
.back:hover {
    color: var(--secondaryColor);
}

.download-btn,
.schedule-btn {
    background: var(--secondaryColor);
    color: var(--primaryText);
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    width: 243px;
}

.download-btn:hover,
.schedule-btn:hover {
    background-color: var(--background);
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}
button {
  cursor: pointer;
}
h1 {
  font-size: 37px;
  font-weight: 400;
}
h2 {
  font-size: 28px;
  font-weight: 700;
    margin-top: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
}


/* ˅ This is so all the content sections have the same border, color and are vertically centered */
.bubble-style{
  border-radius: 20px;
    background-color: var(--background);
    border: 1px solid var(--tertiaryText);
    align-items: center;
}

.border-style{
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid var(--tertiaryText);
    align-items: center;
    padding-bottom: 15px;
}
/* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
.wrapper {
  display: grid;
  grid-template-areas: 
      "header"
      "sidebar"
      "main";
}

/************************************ Section Styling ************************************/

/********** Nav Mobile View**********/
header {
  grid-area: header;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
nav {
  grid-area: sidebar;
}
.logo {
  width: 60%;
  margin: 0;
}
.hamburger {
  display: block;
  float: right;
}
button.hamburger {
 padding: 0;
 margin: 0;
 background-color: transparent;
 border: none;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70vh;
  background-color: var(--primaryColor);
  z-index: 10;
} 
.nav-ul a {
  color: white;
  text-decoration: none;
  line-height: 1.5;
}
.nav-ul li {
  padding: 20px;
  list-style-type: none;
}
.nav-ul img {
  vertical-align: middle;
  margin-right: 5px;
}
.nav-ul.show {
   display: flex;
}
.active-link {
    color: var(--secondaryColor) !important;
    font-weight: 700;
}

/*Main*/

/***** dr-section *****/
.dr-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
}

.rating-review-info {
    text-align: center;
}
/*.dr-info-group {*/
/*    line-height: .25rem;*/
/*    margin-right: 30px ;*/
/*}*/
/*.dr-info-details {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    margin: 0;*/
/*}*/
.dr-info-detail {
    margin-bottom: 30px;
}
.rating {
    font-size: 60px;
    margin: 0;
}

.appointment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.date,
.time,
.reason-wrapper {
    margin-bottom: 30px;
}

/*Calender - code adapted from  https://codepen.io/Markshall/pen/ExPxpYX */

.calendar {
    --side-padding: 30px;
    --border-radius: 34px;
    --accent-br: 50px;
    width: 300px;
}
.calendar select:hover {
    background-color: #f3f4f6;
    color: var(--primaryColor);
}

.calendar__opts {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.calendar__opts {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 15px var(--side-padding);
}

.calendar__days {
    background-color: #fff;
    color: #19181A;
    padding: 0 var(--side-padding) 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__days > div {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #19181A;
;
}
.calendar__dates {
    padding: 10px var(--side-padding);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__date {
    --height: calc(400px / 6 - var(--side-padding));
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.calendar__date:not(.calendar__date--grey) {
    border-radius: 50px;
    background-color: #E5E5E5;
}
.available-date {
    border: 2px solid var(--primaryColor);
}
.calendar__date:not(.available-date) {
    cursor: not-allowed;
}
.calendar__date::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: calc(var(--height) * 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--accent-br);
    transition: background-color 0.3s ease;
}
.calendar__date:not(.calendar__date--selected):not(.calendar__date--grey):hover::before {
    background-color: #ededed;
}
.calendar__date--grey {
    color: #c5c8ca;
    cursor: not-allowed;
}
/*.calendar__date--selected {*/
/*    color: #ff374b;*/
/*}*/
/*.calendar__date--selected::before {*/
/*    background-color: #ffeaec;*/
/*    border-radius: 0px;*/
/*}*/
/*.calendar__date--first-date::before {*/
/*    border-top-left-radius: var(--accent-br);*/
/*    border-bottom-left-radius: var(--accent-br);*/
/*}*/
/*.calendar__date--last-date::before {*/
/*    border-top-right-radius: var(--accent-br);*/
/*    border-bottom-right-radius: var(--accent-br);*/
/*}*/
/*.calendar__date--range-start::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 3px;*/
/*    border-radius: 24px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    background-color: #ff374b;*/
/*    width: 10px;*/
/*    height: 4px;*/
/*}*/
/*.calendar__date--range-end {*/
/*    color: #fff;*/
/*}*/
/*.calendar__date--range-end::before {*/
/*    box-shadow: 0 15px 20px -3px rgba(255, 55, 75, 0.35);*/
/*    background-color: #ff374b;*/
/*    border-radius: var(--accent-br);*/
/*    z-index: 1;*/
/*}*/
/*.calendar__date--range-end::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: calc(var(--height) * 0.9);*/
/*    background-color: #ffeaec;*/
/*    width: 50px;*/
/*    top: 50%;*/
/*    right: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/
.calendar__date span {
    position: relative;
    z-index: 1;
}

select {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
    outline: none;
    border: 0;
    padding: 15px 20px;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

/*Available Times*/
.available-times-wrapper {
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.available-times p {
    background-color: #E5E5E5;
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.available-times p:not(.available-time) {
    cursor: not-allowed;
}

.available-time {
    border: 3px solid var(--primaryColor);
}

/*Appt Reason*/
.reason-wrapper p {
    margin-top: 0
}
.reason-wrapper h2 {
    margin-bottom: 0;
}

textarea {
    width: 300px;
    margin-bottom: 20px;
}
.reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:900px) {
    .dr-info h1 {
        font-size: 30px;
    }
    .dr-info-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dr-info-group {
        line-height: .25rem;
        margin: 0;

    }
    .dr-info-title {
        margin: 0;
    }
}
@media (min-width:901px) {
    .dr-info-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .dr-info-group {
        line-height: .25rem;
        margin-right: 30px ;
    }
}
/************************Styling for Laptops and Small Screens 769px and up*****************************/
@media only screen and (min-width: 769px) {
 
  /* This creates a two column view and makes the sidebar navigation visible  */
  .wrapper {
    grid-template-columns: 275px  1fr;
    grid-template-areas: 
        "header  header"
        "sidebar main";
    margin-right: 2rem;
  }

  /***** Need this to make nav visible *****/
  /***** Nav *****/
  .logo {
    width: 250px;
  }
 .nav-ul {
   display: flex;
   background-color: var(--primaryColor);
   border-radius: 0 20px 0 0;
   color: var(--background);
   height: 100vh;
   padding-top: 0;
   position: sticky;
   top: 0px;
 }
 
  nav a:hover,
  .activeLink {
    color: var(--secondaryColor);
  }

  .nav-ul li {
    line-height: 50px;
  }
  .nav-ul img {
    vertical-align: middle;
    padding-right: 5px;
  }
  
  /* hides hamburger button */
  .hamburger {
    display: none;
  }
  /***** styling for content headings *****/


}



/************************Styling for Desktops and Large Screens 1200px Up*****************************/
@media (min-width: 1400px) {

    .wrapper {
        grid-template-columns: 275px 1fr;
        grid-template-areas:
            "header  header"
            "sidebar main";
    }
    h1 {
      font-size: 37px;
    }
    h2 {
      font-size: 28px;
    }

    .dr-section {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .dr-info-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .dr-info-group,
    .dr-info h1{
        margin-left: 30px;
    }
    .dr-info h1 {
        margin-bottom: 10px;
    }
    .appointment {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .reason {
        display: flex;
        flex-direction: column;
    }

}