/* Body Styling */
:root {
  --background: #f9f9f9;
  --primaryText: #180126;
  --secondaryText: #7e7a8f;
  --tertiaryText: #c3c7d2;
  --primaryColor: #3a5df8;
  --secondaryColor: #f3ea12;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding:0;
    color: var(--primaryText);
    font-family: "Open Sans", sans-serif;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 26px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}
/* Ë… This is so all the content sections have the same border, color and are vertically centered */
.bubble-style{
  border-radius: 20px;
    background-color: var(--background);
    border: 1px solid var(--tertiaryText);
    align-items: center;
}
/* This controls the layout of the page and stacks everything for mobile view (mobile first)  */
.wrapper {
  display: grid;
  grid-template-areas: 
      "header"
      "sidebar"
      "welcome"
      "clinics"
      "users"
      "reviews";
}

/************************************ Section Styling ************************************/

/********** Nav **********/
header {
  grid-area: header;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
nav {
  grid-area: sidebar;
}
.logo {
  width: 60%;
  margin: 0;
}
.hamburger {
  display: block;
  float: right;
}
button.hamburger {
 padding: 0;
 margin: 0;
 background-color: transparent;
 border: none;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70vh;
  background-color: var(--primaryColor);
  justify-content: center;
  z-index: 10;
} 
.nav-ul a {
  color: white;
  text-decoration: none;
  line-height: 1.5;
}
.nav-ul li {
  padding: 20px;
  list-style-type: none;
}
.nav-ul img {
  vertical-align: middle;
  margin-right: 5px;
}
.nav-ul.show {
   display: flex;
}

/* Welcome Alerts */
.welcome {
    grid-area: welcome;
    justify-content: space-between;
    margin: 0 1rem 0rem 1rem;
    padding: 2rem;
}
.welcome p,
  .welcome h1 {
    line-height: normal;
  }
  .welcomeAlerts span {
    font-weight: 700;
  }
.userPic {
  display: none;
}
 /********* Clinics ********/ 
.clinics{
    grid-area: clinics;
    margin: 1rem;
}
.clinics-bubble {
  display: grid;
  justify-content: left;
  text-align: left;
  grid-template-areas: 
    "clinicName edit"
    "address edit";
  padding: 15px;
  grid-template-columns: 1fr 50px;
  margin: 1rem 0;
  padding: 7px;
}
.clinic-name {
  grid-area: clinicName;
}
h3.clinic-name {
  margin: 0;
}
.address {
  grid-area: address;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 0px;
}
.edit {
  grid-area: edit;
  float: right;
}
button.edit img {
  width: 25px;
}
.clinics-bubble h3 {
  text-align: left;
}
.clinics-bubble img {
  text-align: right;
}

/********** Users **********/
.users {
    grid-area: users;
    margin: 1rem;
}
.users p {
  line-height: 2;
}

.bubble {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 7px;
  text-align: center;
}
#contactsPic {
  width: 70px;
  margin-left: 5px;
}

/************** Reviews *************/
.reviews {
    grid-area: reviews;
    margin: 1rem 1rem 1rem 1rem;
}
.reviews .heading{
  margin-bottom: 5px;
}
.review-bubble {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
}
.review-bubble p, .review-bubble img {
  vertical-align: middle;
}
.review-bubble img {
  margin-right: 10px;
  margin-left: 10px;
}
.review-bubble .reviewer {
  display: flex;
  margin: 10px 0 5px 0;
  align-items: stretch;
  justify-content: center;
}
.quote {
  padding: 5px 0;
  margin: 0 10px;
}
img.stars {
  align-self: center  ;
  padding: 5px 0;
}
.action-btns {
  margin-top: 5px;
  margin-bottom: 10px;
}
.bubble-heading {
  display: none;

}
/* Styling for Headings */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}
.heading h2 {
  width: 60%;
}
/* Button Styling */
button.edit {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.view img {
  width: 30px;
}
button.view {
  width: 50px;
  height: 34px;
  border-radius: 40px;
  border: 1px solid var(--tertiaryText);
  background-color: var(--background);
  margin-left: 5px;
}
button.all {
  width: 55px;
  height: 24px;
  border-radius: 40px;
  background-color: var(--primaryText);
  color: white;
  border: none;
  text-transform: uppercase;
}
button.action {
  border: none;
  border-radius: 4px;
  color: var(--primaryText);
  height: 38px;
  width: 63px;
  font-weight: 700;
  font-size: 13px;
  margin-right: 5px;
}
button.review {
  background-color: #fec9de;
}
button.review:hover {
  background-color: white;
  border: 2px solid #fec9de;
}
button.accept {
  background-color: #aceb98;
}
button.accept:hover {
  background-color: white;
  border: 2px solid #aceb98;
}

/************************Styling for Laptops and Small Screens 769px -1082px*****************************/
@media only screen and (max-width: 1082px) and (min-width: 769px) {
 
  /* This creates a two column view and makes the sidebar visible  */
  .wrapper {
    grid-template-columns: 275px  1fr;
    grid-template-areas: 
        "header  header"
        "sidebar welcome"
        "sidebar clinics"
        "sidebar users"
        "sidebar reviews";
    margin-right: 2rem;
  }
  /***** Need this to make nav visible *****/
  .logo {
    width: auto;
  }
  nav{
    background-color: var(--primaryColor);
    border-radius: 0 20px 0 0;
    color: var(--background);
  }
  .nav-ul {
    display: block;
    background-color: transparent;
    padding-top: 1rem;
    position: fixed;
  }
  nav a:hover,
    .activeLink {
    color: var(--secondaryColor);
  }
  .nav-ul li {
    line-height: 50px;
  }
  .nav-ul img {
    vertical-align: middle;
    padding-right: 5px;
  }
  /* hides hamburger button */
  .hamburger {
    display: none;
  }
  h2 {
    font-size: 22px;
  }
}
/************************Styling for Desktops and Large Screens 1083px Up*****************************/
@media (min-width: 1083px) {
    body {
      margin:0 1rem 0 0;
    }
    .wrapper {
        grid-template-columns: 275px 1.5fr 1fr;
        grid-template-areas: 
            "header  header header"
            "sidebar welcome welcome"
            "sidebar clinics users"
            "sidebar reviews reviews";
    }
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
    .heading h2 {
      width: auto;
    }
    .reviews .heading  {
      justify-content: flex-start;
      margin-bottom: -20px;
    }
   .reviews .heading button  {
      margin-left: 10px;
    }
    /***** Nav *****/
    .logo {
      width: auto;
    }
    nav{
      background-color: var(--primaryColor);
     border-radius: 0 20px 0 0;
     color: var(--background);
    }
   .nav-ul {
     display: block;
     background-color: transparent;
     padding-top: 1rem;
     position: fixed;
   }
   
    nav a:hover,
    .activeLink {
      color: var(--secondaryColor);
    }

    .nav-ul li {
      line-height: 50px;
    }
    .nav-ul img {
      vertical-align: middle;
      padding-right: 5px;
    }
    .hamburger {
      display: none;
    }
    /***** Welcome *****/
    .welcome {
      display: flex;
    }
    .welcome h1 {
      padding: 0;
      margin: 0;
    }
    .userPic {
      display: block;
    }
    #contactsPic {
      width: 75px;
    }
    .welcome, .reviews {
      margin: 0rem 2rem;
    }
    /**** Clinics Styling Desktop View *****/
    .clinics {
      margin: 1rem 2rem;
    }
    .clinics-bubble {
      display: grid;
      grid-template-columns: 1fr 2fr 50px;
      grid-template-areas: 
        "clinicName address edit";
      justify-content: space-evenly;
    }
    .address {
      text-align: center;
    }
    .users {
      margin: 1rem 2rem 1rem 1rem;
    }
    /***** Reviews Styling Desktop View n*****/
    .reviews {
      margin-bottom: 1rem;
    }
    .review-bubble{
      grid-template-columns: 1fr 550px 1fr 150px;
      justify-content: center;
      text-align: left;
    }
    .action-btns {
      margin-right: 0;
    }
    .bubble-heading {
      display: grid;
      grid-template-columns: 1fr 550px 1fr 150px ;
      padding: 0;
      margin-left: 16px;
      margin-bottom: -20px;
    }
    .reviewer p {
      margin: 5px;
    }
}

/*Test Flex Styling */

@media (min-width: 801px) {
  
}
