@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --white:#f9f9f9;
    --black:#180126;
    --darkgray: #7e7a8f;
    --lightgray: #cec7d2;
    --verylightgray: #F3F3F3;
    --blue:#0721c8;
    --yellow: #f3ea12;
    --lightblue: #457AFF;
    --paleblue: #FAFCFF;
}

body {
    background: var(-white);
    box-sizing: content-box;
    overflow-x: hidden;
}

/* NAVBAR */
.logo-div img {
    width: 9em;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0em .4em 0em;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  a {
    text-decoration: none;
     font-weight: 600;
     color: #180126;
    
  }
  
  li:hover {
   
   border-radius: 4px;
   background-color: var(--yellow);
    
  }
  
  .navbar li:visited {
    color: #180126;
  }
  
  .active:hover{
    background-color: #f9f9f9;
  }
  
  
  ul.nav-tabs,
  ul.login {
    list-style-type: none;
  }
  
  .home-icon {
    background-color: var(--yellow);
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  li {
    display: inline-block;
    padding: 8px 12px;
  }
  
  .content-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 7px 0 32px;
      
  }
  
  .middle-wrapper {
      display: flex;
      justify-content: space-between;
  }
  .middle-right-left {
    width: 30%;
  }  
  .middle-right-right {
      width: 30%;
  }
  div.content-logo {
    background-color: #eef0f6;
      height: auto;
    width: 50%;
    border-radius: 20px;
    
  }
  
  .logo-img {
    width: 50%;
    padding: 0em 0em 0em 6.5em;
  }
  
  div.inner {
    padding: 2em 2em 2em;
  }
  
  .content-img {
    width: 73%;
    padding: 1em 0 0 6.5em;
    
  }
  
  h2 {
    text-align: center;
      font-weight: 400;
    line-height: 0px;
    font-size: 18px;
    
  }
  
  
  .login-btn {
    background: #f3ea12;
    text-align: center;
    border-radius: 2.5px;
    border-style: none;
    font-weight: bold;
    width: 320px;
     margin-top: 15px;
    height: 40px;
  }
  
  .login-btn:hover, button:hover{
    background: #eef0f6;
  }
  
  .checkbox {
    padding-right: 5.7em;
     
  }
  
  .password a {
    font-size: smaller;
    font-size: 13px;
  }

/******Top Section******/
.top-container {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    

}
 .top-left {
    max-width: 35%;
    padding: 55px 80px 40px 80px;
    position: relative;
 }

  .top-header {
      font-family: 'Open Sans', sans-serif;
      font-size: 31px;
      color: var(--black);
      text-align: left;
  }

  .top-subheading {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: var(--darkgray);
      font-weight: 400;
  }

  .appointment-btn {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      background-color: var(--yellow);
      color: var(--black);
      padding: 20px;
      border-radius: 6px;
      border: none;
      width: 70%;
      cursor: pointer;
  }

  .appointment-btn:hover {
      background-color: var(--white);
      color: var(--blue);
      border: 2px solid var(--blue);

  }

.top-right img {
  float: right; 
  width: 200%;
  margin-right: -350px;
  background-image: url(images/landing-page/Ellipse\ 1.png);
}

.container-box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--verylightgray);
    border: none;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    width: 25%;
    height: 40%; 
    margin-top: -5px;
    margin-left: 700px;
}

.numbers {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.words {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/******Middle Section*******/
.middle-container-1 {
    margin: 5em;
}

.middle-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
   
}

.middle-subhead {
    font-size: 20px;
    color: var(--darkgray);
    width: 100%;
}

.middle-right {
    
}


.number-1-icon {
   text-align: left; 
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: var(--darkgray);
}

.description-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
    margin-left: 2em;
    
}

.number-2-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-2 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -30px;
     margin-left: 2em;  
 }

 .number-3-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-3 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -5px;
     margin-left: 2em;
     
 }

 .number-4-icon {
    text-align: left; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
 }
 
 .description-4 {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-top: -5px;
     margin-left: 2em;
     
 }

 .get-started-btn {
     padding: 20px;
     width: 40%;
     border-radius: 6px;
     border: none;
     color: var(--black);
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     font-weight: 700;
     margin-left: 350px; 
     cursor: pointer;
 }

 .get-started-btn:hover {
     background-color: var(--white);
     color: var(--blue);
     border: 2px solid var(--blue);
 }

 /**Doctor Section**/
 .doctors-section {
     display: block;
     font-weight: 700;
     font-family: 'Open Sans', sans-serif;
     margin-top: 10em;
 }

 .doctors-header {
     text-align: center;
 }

 .doctors-subheading {
     color: var(--darkgray);
     font-weight: 400;
     text-align: left;
     display: block;
     width: 45%;
     margin-left: 310px;
 }

 .doctors-pictures {
     display: grid;
     grid-template-columns: repeat(3, 35%);
     grid-template-rows: (2, 100vw);
 }

 .doctor-4, .doctor-5 img {
     margin-top: 5em;
     margin-left: 12em;
 }

 .view-doctors-btn {
     margin-top: 5em;
     margin-left: 30em;
     padding: 20px;
     border: none;
     border-radius: 6px;
     color: var(--black);
     background-color: var(--yellow);
     width: 30%;
     font-size: 14px;
     font-family: 'Open Sans',sans-serif;
     font-weight: 700;
     cursor: pointer;
 }

 .view-doctors-btn:hover {
     background-color: var(--white);
     border: 2px solid var(--blue);
     color: var(--blue);
 }

/****Testimonial Section****/

 .testimonial-header {
     font-family: 'Open Sans', sans-serif;
     font-size: 37px;
    margin-top: 3em;
    margin-left: 13em;

 }

 .testimonial-section {
     display: flex;
     flex-direction: row;
 }

 .left-testimonial {
     margin: 1em;
 }

 .right-testimonial {
     margin: .5em;
 }

 .circles { 
     display: flex;
     flex-direction: row;
 }
 .dot {
    height: 25px;
    width: 25px;
    background-color: var(--blue);
    border-radius: 50%;
 }

 .dot:hover {
     background-color: var(--verylightgray);
     cursor: pointer;
 }

/******Lower Section*****/

.lower-section {
   
    background-color: var(--verylightgray);
    width: 100%;
    height: 100vh;
}

 .lower-left img {
    transform: rotate(-15deg);
}

.lower-right {
    margin-top: -350px;     
}

.lower-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 700;
    text-align: left;
    margin-left: 550px;
    width: 50%;
}  

.lower-subheading {
    margin-left: 550px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.store-icons {
    margin-left: 570px;
    cursor: pointer;;
}

#apple {
    margin: 1em;
    width: 30%;
}

#google {
    margin: 1em;
    width: 30%;
}

/*****Subscription Section*****/
.subscribe-header {
    display: block;
    margin-top: 60px;
}

.subscription-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 700;
   margin-left: 330px;
}

.subscription-subheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    width: 50%;
    padding-left: 290px;
    text-align: center;
}

.email-box {
    padding: 1px solid var(--verylightgray);
    background-color: var(--white);
    padding: 15px;
    border-radius: 6px;
    width: 25%;
    margin-left: 340px;
}

#subscribe-btn {
    background-color: var(--yellow);
    padding: 15px;
    border-radius: 6px;
    width: 25%;
    margin-left: -15px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#subscribe-btn:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

/*****Footer****/
footer {
    background-color: var(--paleblue);
    justify-content: center; 
    margin-top: 5em;   
    height: 100vh;
   
}

.navbar-footer {
    margin-top: 3.5em;
}

.bold {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
    margin-top: 3em;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--verylightgray);
    padding-left: 3rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}

.follow-us {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 2.5em;
}

.social-icons {
    cursor: pointer;
    padding: 2px;
}

.fab {
    color: var(--black);
    justify-content: space-between;
    padding: 4px;
}

.fab:hover{
    color: var(--lightblue);
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: -230px;
    margin-left: 380px;
}

.quick-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--darkgray);
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.link:hover {
    color: var(--lightblue);
}

.office-info {
    margin-top: -330px;
    margin-left: 720px;
}

.address-header {
    font-family: 'Open Sans', sans-serif;
    font-family: 18px;
    font-weight: 700;
}

.address-info {
    color: var(--darkgray);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.email-header {
    margin-top: 6em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.email-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--darkgray);
    line-height: 30px;
}

.copyright {
    display: flex;
    flex-direction: wrap;
    padding:0;
    font-size: 18px;
    font-weight: 400;
    color: var(--darkgray);
}
   
   
/* Dr. Card */
.doctor-card {
    background-color:#f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;

}